body {
    margin: 0px;
}

header {
    height: 90px;
    background-color: #bbb;
}

h1 {
    margin: 0px;
    text-align: center;
    line-height: 60px;
}

main {
    padding: 8px;
}

.logo {
    float: left;
    height: 60px;
    position: absolute;
    top: 0px;
}

.nav-bar {
    padding-left: 10px;
    background-color: #999;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    width: max-content;
}

.nav-link {
    margin-right: 10px;
}

.project {
    display: inline-flex;
    height: 300px;
    width: 300px;
    background-color: #bbb;
}

.middle-project {
    display: inline-flex;
    height: 300px;
    width: 400px;
    background-color: #bbb;
}

.project-text {
    width: 300px;
    height: 100px;
}

.middle-project-text {
    width: 400px;
    height: 100px;
}